@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Satoshi';
}
/* :root {
  --font-display: "Satoshi", sans-serif;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
} */



.connectbutton{
  @apply relative overflow-hidden rounded-2xl p-[1.7px]
}

.animatebutton{
  @apply absolute inset-0 animate-[borderSpin_2s_linear_infinite] rounded-md
}

.buttonbg{
  @apply relative z-5 block bg-gradient-to-r from-orange-500 to-purple-600 hover:from-orange-600 hover:to-purple-700  text-white font-semibold px-6 py-3 md:px-8 md:py-4 lg:px-6 lg:py-3 rounded-2xl shadow-lg cursor-pointer text-sm md:text-base transition-all duration-30
}



@keyframes borderSpin {
  0% {
    transform: rotate(0deg);
    background: conic-gradient(#ff1493, transparent 40%);
  }
  50% {
    transform: rotate(180deg);
    background: conic-gradient(#ff1493, transparent 40%);
    
  }
  50.0% {
    background: conic-gradient(#ff1493, transparent 40%);
    filter: brightness(1.4) drop-shadow(0 0 6px #00e5ff);
  }
  100% {
    transform: rotate(360deg);
    background: conic-gradient(#00e5ff, transparent 60%);
    
  }
}


/* ===== Scrollbar Style (Global) ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 16px; /* width of the scroller */
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* light gray track */
}

::-webkit-scrollbar-thumb {
  background-color: #0d1c3c; /* Our custom color */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0b1635; /* slightly darker shade for hover */
}

/* Firefox */
* {
  scrollbar-width: auto; /* thicker than thin */
  scrollbar-color: #0d1c3c #f3f4f6; /* thumb | track */
}





/* ===== Scrollbar Style for Contact Form ===== */
.form-scrollbar::-webkit-scrollbar {
  width: 10px; /* width of scrollbar */
}

.form-scrollbar::-webkit-scrollbar-track {
  background: #f9fafb; /* light neutral background */
}

.form-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9CA3AF; /* gray-400 */
  border-radius: 8px;
}

.form-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6B7280; /* gray-500 on hover */
}

/* Firefox */
.form-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9CA3AF #f9fafb; /* thumb | track */
}

html {
  @apply scroll-smooth;
}















